.container{
    height: 97.5vh;
    width: 99vw;
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    display: flex;
    
    border-radius: 12px;
    padding: 3em;
    padding-bottom: 4em;
    background-color: rgba(236, 235, 235,.5);
    border: 1px solid rgba(229, 229, 229,1);

    font-size: 1.2em;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    color:rgb(89, 89, 89);
    font-family: Roboto,serif;
    font-weight: 0;
    opacity: .3;
}
