
<div class="container" @izquierdaDerechaFade>
    <div>
        
            <div>
                <img src="assets/img/svg/089.svg" width="150px" height="150px">
            </div>
            <div class="header">
                <h4>Iniciar sesión.</h4>
            </div>
            <form [formGroup]="formularioAcceso" (ngSubmit)="login()" (change)="thechanges()">
                <div>
                    <mat-form-field  style="width: 20em; text-align:center;" color="primary" appareance="legacy">
                        <mat-label >Nombre del usuario</mat-label>
                        <input formControlName="usuario" autofilled="true" matInput>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint><a [routerLink]="[{outlets:{popup:'missing'}}]">Has olvidado tu usuario?</a></mat-hint>
                        <mat-error>Este campo es obligatorio.</mat-error>
                    </mat-form-field>
                </div>
                <div style="margin-top: 25px;">
                    <mat-form-field  style="width: 20em; text-align:center;" color="primary" appareance="legacy">
                        <mat-label >Contraseña</mat-label>
                        <input formControlName="password" [type]="isVisible?'text':'password'" autofilled="true" matInput>
                        <mat-icon (click)="isVisible = !isVisible" matSuffix>{{isVisible?"visibility_on":"visibility_off"}}</mat-icon>
                        <mat-error *ngIf="formularioAcceso.controls['password'].errors?.['minlength']">Requiere al menos 8 caracteres de contraseña.</mat-error>
                        <mat-error *ngIf="formularioAcceso.controls['password'].errors?.['maxlength']">El limite de caracteres son 16 para su contraseña.</mat-error>
                        <mat-error>Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div style="display: flex;justify-content:end;width:100%;margin-top: 2em;">
                    <button color="primary" [disabled]="formularioAcceso.invalid" mat-button>Iniciar</button>
                </div>

                <mat-form-field color="danger">
                    <input matInput disabled value="Usuario/Contraseña Incorrecto"> 
                </mat-form-field>
            </form>
    </div>
</div>



