*{
    font-size: 1.1ch;
}


.icono{
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 75%;
    left: 0;
}

.icono img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5%;
}

.texto{
    position: absolute;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
}



:root{
    position: relative;
}