/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:Roboto;
    src: url("assets/fonts//Roboto-Thin.ttf");
    font-style: normal;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
