<div class="container">
    <div class="card">
        <div class="header">
            <h2>Recuperación de usuario </h2>
            <mat-icon (click)="closePopup()" style="cursor: pointer;">close</mat-icon>
        </div>

        <div style="padding: 10px;">
            <h4>Se procesara la recuperación de la cuenta de la siguiente manera...</h4>
            <p>No se puede recuperar contraseñas, un saludo :D!</p>
        </div>
    </div>
</div>
