.container{
    position: fixed;
    top: 20%;
    height: 60%;

    left: 10%;
    width: 80%;

    box-sizing: border-box;

   
    display: flex;
    justify-content: center;
    user-select: none;
}

.header{
    width: 100%;
    color: black;
    padding: 5px 10px;
    margin-top: 25px; 
    display: flex;
    box-sizing: border-box;
    /*background-color: rgb(54, 136, 207);*/
    /*background-color:  rgb(70, 150, 221);*/
    border-bottom: 2px solid rgb(211, 211, 211);
    justify-content: space-between;
}

.header h2{
    font-size: 2em;
}

.card{
    position: relative;
    background-color: white;
    border: 2px solid rgb(176, 176, 176);
    min-width: 30em;
    display: flex;
    
    flex-flow: column;
}