<div class="header" fxShow.lt-md>
    <span></span>
    <span></span>
    <button ><mat-icon (click)="isProgramas = !isProgramas" [class.activeMenu]="isProgramas">menu</mat-icon>
        <div *ngIf="isProgramas" class="programs">
            <div routerLink="" routerLinkActive="active"><app-programa nombre="Administardor" icono="assets/img/svg/gmail.svg"></app-programa></div>
            <div routerLinkActive="active"><app-programa></app-programa></div>
            <div routerLinkActive="active"><app-programa></app-programa></div>
        </div>
    </button>
    
</div>
<div>

</div>
