
.activeMenu{
    color: green !important;
    font-weight: 800;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
    height: 1.5em;
    font-size: .9em;
    margin-bottom: 1em;

}

.header button, .header button mat-icon{
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1.3em !important;
    color: black;
    font-weight: 510;
    position: relative;
}

.header button mat-icon{
    margin-right: 12px;
    opacity: .6;
}

.header button mat-icon:hover{
    opacity: 1;
    font-weight: 500;
    cursor: pointer;
}

.programs{
    position: absolute;
    background-color: rgba(21,1,1,.05);
    border: 1px solid rgb(184, 181, 181);
    right: .5em;
    top: calc(100% + 1.1em);
    background-color: white;
    width: 350px;
    min-height: 120px;
    border-radius: 12px;
    
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5px;

    box-sizing: border-box;
}
.programs > *{
    width: calc(30% - 8px);
    height: 100px;
    box-sizing: border-box;
    position: relative;
    opacity: .55;
}

.programs::after{
    content: " ";
    position: absolute;
   
    top: -1em;
    right: .12em;
    z-index: -1;

    border-left: 180px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 1em solid rgb(197, 197, 197); 

    background-color: transparent;
}

.active{
    opacity: 1 !important;
    border-bottom: 1px solid green;
    border-right: 1px solid green;
    border-top: 1px solid rgb(217, 221, 217);
    border-left: 1px solid rgb(217, 221, 217);
    
}

